.idea/
cmake-build-debug/
a.out
ft_ls
libft/libft.a
objects/
objects/*.o
debug/
debug/*.o
ft_ls.dSYM/
*/*.bak
.DS_Store
libft/objects/
libft/objects/*.o
ft_ls_debug.dSYM/
ft_ls_debug
TODO.md
CMakeLists.txt